<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=.\\sqlexpress;Initial Catalog=C:\\USERS\\MARUTI\\DOCUMENTS\\VISUAL STUDIO 2010\\PROJECTS\\HOTELMGMT\\HOTELMGMT\\APP_DATA\\DATABASE.MDF;Integrated Security=True" />
  <add name="C:\USERS\MARUTI\DOCUMENTS\VISUAL STUDIO 2010\PROJECTS\HOTELMGMT\HOTELMGMT\APP_DATA\DATABASE.MDFConnectionString"
   connectionString="Data Source=.\\sqlexpress;Initial Catalog=C:\\USERS\\MARUTI\\DOCUMENTS\\VISUAL STUDIO 2010\\PROJECTS\\HOTELMGMT\\HOTELMGMT\\APP_DATA\\DATABASE.MDF;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="C:\USERS\MARUTI\DOCUMENTS\VISUAL STUDIO 2010\PROJECTS\HOTELMGMT\HOTELMGMT\APP_DATA\DATABASE.MDFConnectionString2"
   connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;C:\USERS\MARUTI\DOCUMENTS\VISUAL STUDIO 2010\PROJECTS\HOTELMGMT\HOTELMGMT\APP_DATA\DATABASE.MDF&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
